
<!DOCTYPE HTML>
<head>

<title>{% block title %}{% endblock %}</title>
{%block meta%}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
{%endblock%}
{% block stylesheets %}
<link href="../estilos/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="../estilos/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
<link href="../estilos/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
<link href="../estilos/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
<link href="../estilos/bootstrap.min2.css" rel="stylesheet" type="text/css" media="all"/>
<link href="../font/css/font-awesome.css" rel="stylesheet" type="text/css" media="all"/>
<link href="../font/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script> 
<script src="js/jquery.openCarousel.js" type="text/javascript"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
<link href="css/easy-responsive-tabs.css" rel="stylesheet" type="text/css" media="all"/>
 <script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
   </script>		
<link rel="stylesheet" href="css/etalage.css">
<script src="js/jquery.etalage.min.js"></script>
<script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 300,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					
				});

			});
		</script>
	  <script src="js/star-rating.js" type="text/javascript"></script>
{% endblock %}
	  </head>
<body>

	<div class="header">
	 {% block header%}
  	  		<div class="wrap">
				<div class="header_top">
					<div class="logo">
						<a href="../index.php"><img src="../imagenes/logo.jpg" alt="{{Bestnid}}" /></a>
						<img src="../imagenes/slider-img.png" alt="{{Bestnid}}" />
						<img src="../imagenes/logo2.jpg" alt="{{Bestnid}}" />
					</div>
					
		
					
			     <div class="clear"></div>
  		    </div>     
  		    <div class="navigation">
  		    	<a class="toggleMenu" href="#">{{Menu}}</a>
					<ul class="nav">
						<li>
						<a href="../templates/index.php">{{Home}}<span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>	
						</li>
						
						<li>
							<a href="#">{{Subastas}}</a>
							<ul>
								
							</ul>
						</li>
						
							{% if sobrebestnid is not null %}		
						<li>
							<a href="../sobrebestnid/sobrebestnid.php">{{sobrebestnid}}</a>
						</li>
						{% endif %}
						
							{% if contacto is not null %}		
						<li>
							<a href="#">{{contacto}}<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
						</li>
						{% endif %}
						
						
						
						{% if IniciarSesion is not null %}		
						<li>
							<a href="../sesion/inicioSesion.php">{{IniciarSesion}}<span class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
						</li>
						{% endif %}
						
						{% if Registrarse is not null %}		
						<li>
							<a href="../registro/Registro.php">{{Registrarse}}<span class="glyphicon glyphicon-align-left"></span></a>
						</li>
						{% endif %}
						
						
					
						
						
						
							
						
						
						
						
						
						
						
						{% if MiCuenta is not null %}
						<li>
							<a href="../ayuda/Ayuda.php">{{MiCuenta}}<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></span></a>
					
							
							
						</li>
						{% endif %}
						
						{% if CerrarSesion is not null %}
						<li>
							<a href="../sesion/CerrarSesion.php">{{CerrarSesion}}<span class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
						</li>
						{% endif %}
						
						<li>
							<a href="../ayuda/Ayuda.php">{{Ayuda}}<span class="glyphicon glyphicon-text-color" aria-hidden="true"></span></a>
						</li>
						
						{% if (nombre is not null) and (apellido is not null) %}		
						<li>
							
							{% if tipo==1 %}
							<a href="../sesion/controlBackEnd.php">{{bienvenido}}{{nombre}} {{apellido}}<span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
							{% else %}
							<a href="../sesion/controlFrontEnd.php">{{bienvenido}}{{nombre}} {{apellido}}<span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
							{% endif %}
						</li>
						{% endif %}
						
					</ul>
					
  		    </div>

   		</div>
		{%endblock%}
   </div>
   <!------------Cabezera------------>
   <div class="main">
    {% block main%}
   	 <div class="wrap">
	 {% block menu%}
	 
   	 	<div class="preview-page">
   	 	       <div class="section group">
			      {% if comentarioagregado is not null %}
			      <div class="alert alert-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Se Agrego su comentario a Bestnid, si desea ver su comentario vaya a la solapa comentarios dentro de esta misma página
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
					
					</div>



			      {% endif %}
			    
				<div class="cont-desc span_1_of_2">
					<div class="panel-heading2">Ver Subasta: {{subastas.getTitulo()}}</div><br>
				  <div class="product-details">	
					<div class="grid images_3_of_2">
							<ul id="etalage">
							
							{% for foto in fotos %}
							
							<li>
								<a href="#">
								
									<img class="etalage_thumb_image" src="../{{foto.getFoto()}}" />
									<img class="etalage_source_image" src="../{{foto.getFoto()}}" title="" />
										
								</a>
								</li>
							{% endfor %}
							
							
						</ul>
				     </div>
					 <div class="desc span_3_of_2">
					<h2>{{subastas.getTitulo()}}</h2>
					<p>{{subastas.getDescripcion()}}</p>					
					
					<div class="available">
						<ul>
						  
						  <li><span>Fecha Inicio:</span>{{subastas.getFechaInicio()}}</li>
						  <li><span>Fecha Fin:</span>{{subastas.getFechaFin()}}</li>
						  <li><span>Usuario:</span>{{subastas.recuperarUsuarioSubasta(subastas.getIdUsuarioSub())}}</li>
					    </ul>
					</div>
					
			{% if aceptada is null %}		
					
					{% if (nombre is not null) and (apellido is not null) %}
							
							{% if (subastas.esTuSubasta(subastas.getIdSubasta(),idusuario))==0 %}
							
							        {% if (subastas.controlarOfertaParaUsuario(subastas.getIdSubasta(),idusuario))==0 %}
												<form method="POST" name="form1" action="../oferta/altaoferta.php" >
												<hr>
					                            Ofertar por el producto
				                                <div class="share-desc">
				
					                            <div class="share">
												
						                        <p>Monto :</p><input type="number" class="text_box" type="text" id="numero" name="numero" value="1" min="1" required/>	
                          					
					                             </div>
					                             <div class="button" class="btn btn-danger" >
												
												<input name="idsubasta" id="idsubasta" type="hidden" value="{{subastas.getIdSubasta()}}" />
												  <input name="idusuario" id="idusuario" type="hidden" value="{{idusuario}}" />
												  
												 </div>	

					                             <div class="clear"></div>
					                              Razon: <textarea name="razon" id="razon" rows="4" cols="60" maxlength="250" minlength="2" title="Ingrese minimo 2 caracteres"required/></textarea> 
												  <input type=submit  class="btn btn-danger" value="Enviar" title="Click para enviar su oferta" />
				                                  </div>
												  </form>
				                                    <hr>
									 {% else %}
												<div class="alert alert-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					                             Usted ya realizó una oferta para esta subasta!!!.
				                            	</div>
									 {% endif %}
							{% else %}
									<div class="alert alert-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					                           Usted en el propietario de la subasta no se le permite ofertar en la misma!!!.
				                     </div>
									
									
							
							{% endif %}
							
							
					      
					
				   	 
				    {% else %}
					<div class="alert alert-success"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							Para poder ofertar por el producto por favor <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> <a href="#">Inicie Sesión</a>
							o si no posee un usuario <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> <a href="#">Regístrese dentro de bestnid</a> 
				 </div>
				
				   {% endif %}
	 {% else %}   
					<div class="alert alert-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Se Agrego su oferta a Bestnid, si desea ver su oferta ingrese al siguiente link:<br>
					<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="verdetalle.php?id={{agrego}}">Su última oferta</a>
					</div>   
				   
	 {% endif %}	   
				   
				   
				   
				   
				   
				   
		<div class="product_desc">	
			<div id="horizontalTab">
				<ul class="resp-tabs-list">
					<li>Comentarios</li>
					<li>Agregar un nuevo comentario</li>
					
					<div class="clear"></div>
				</ul>
				<div class="resp-tabs-container">
					<div class="product-specifications">
						<ul>
							{% if comentarios is not null%}
							{% for comentario in comentarios %}
		                  <div class="comentarios" >{{comentario.getCuerpo()}}

		                  <div class="fecha">Fecha:{{comentario.getFechaCom()}} Usuario:{{comentario.recuperarUsuarioComentario(comentario.getIdUsuarioCom())}}</div>
		                  </div>
		                  	{% endfor %}
		                  	{% else %}

		                  		<div class="alert alert-info">
							Lamentablemente la Subasta no posee ningún comentario.
							Sea el primero en comentar , y deje su opinión en la solapa de agregar un nuevo comentario
							<span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>.
				 </div>

		                  	{% endif %}
		                </ul>
				 	</div>
				 
				   <div class="product-tags">

{% if (nombre is not null) and (apellido is not null) %}
							
									 
					<h4>Agrega tu comentario:</h4>
					<form method="POST" name="form1" action="../comentario/agregarcomentario.php">
					<div class="input-box">
						<input type="text" name="cuerpocomentario" id="cuerpo" value="" minlength="2" required/>
						<input type="hidden" name="idusuariocomentario" id="idusuario" value="{{idusuario}}" >
						<input type="hidden" name="idsubastacomentario" id="idsubasta" value="{{subastas.getIdSubasta()}}" >
					</div>
					<br>
					 <input type=submit class="btn btn-success" value="Enviar"> 
					</form>
				   	 
				    {% else %}
					<div class="alert alert-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							Para poder comentar el producto por favor <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="#"> Inicie Sesión</a>
							o si no posee un usuario <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> <a href="#"> Regístrese dentro de bestnid </a>
				 </div>
				

{% endif %}


				







			    </div>	
 
						
				  	   {%endblock%}
      </div>
	  {%endblock%}
    </div>	
	</div>
	
	</div>
	
	</div></div>
	 <div class="rightsidebar span_3_of_1 sidebar">
				<div class="panel-heading"> Otras subastas</div>
					<ul class="popular-products">
						<li>
							 <h4><a href="preview.html">Whirlpool LTE5243D 3.4 CuFt.... </a></h4>
							  <a href="preview.html"><img src="images/product-img2.jpg" alt="" /></a>
							  <div class="price-details">
						       <div class="price-number">
									<p><span class="rupees line-through">$899.95 </span> &nbsp; <span class="rupees">$839.93 </span></p>
							    </div>
							       		<div class="add-cart">								
											<h4><a href="preview.html">Ver Subasta</a></h4>
									     </div>
									 <div class="clear"></div>
							</div>					 
						</li>
						<li>
							<strong><h4>{{subasta.getTitulo()}}</h4></strong>
								<a href="../web/preview.php?id={{subasta.getIdSubasta()}}" title="{{subasta.getTitulo()}}"><img src="../{{subasta.recuperarFoto(subasta.getIdSubasta())}}" alt="" /></a>
								  <div class="price-details">
								  <div class="categoria"><strong>Categoria:{{subasta.recuperarCategoriaSubasta(subasta.getIdCategoriaSub())}}</strong></div>
								  <div class="inicio"><strong>inicio el día: {{subasta.getFechaInicio()}}</strong></div>
								  <div class="vencimiento"><strong>Vence el día: {{subasta.getFechaFin()}}</strong></div>
					       		          <div class="descripcion">	
													<strong>{{subasta.getDescripcion()}}</strong></div>
													<div class="add-cart">
									      <h4><a href="../subasta/verdetalle.php?id={{subasta.getIdSubasta()}}" title="Haga click para ver la subasta mas detalladamente y/o hacer un ofertar">Ver Subasta</a><h4>
							                 </div>
							             <div class="clear"></div>
												 
						</li>
						<li>
							 <h4><a href="preview.html">Whirlpool LTE5243D 3.4 CuFt.... </a></h4>
							  <a href="preview.html"><img src="images/product-img4.jpg" alt="" /></a>
							  <div class="price-details">
						       <div class="price-number">
									<p><span class="rupees line-through">$899.95 </span> &nbsp; <span class="rupees">$839.93 </span></p>
							    </div>
							       		<div class="add-cart">								
											<h4><a href="preview.html">More Info</a></h4>
									     </div>
									 <div class="clear"></div>
							</div>					 
						</li>
				     </ul>
				    
      				  
					</div>
	
	
	</div>
	
	</div></div>
	</div>
	
   <div class="footer">
   {% block footer%}
   	  <div class="wrap">	
			 <div class="copy_right">
				<p>Bestnid © Todos los derechos reservados </p>
		   </div>	
		   <div class="footer-nav">
		   	<ul>
		   		<li><a href="#">Terminos de uso</a> : </li>
		   		<li><a href="#">Privacidad</a> : </li>
		   		
		   	</ul>
		   </div>		
        </div>
	{%endblock%}
    </div>
	{% block final%}
    <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop"> </a>
    <script type="text/javascript" src="javascript/navigation.js"></script>
	{%endblock%}
	
</body>
</html>