
<!DOCTYPE HTML>
<head>

<title>{% block title %}{% endblock %}</title>
{%block meta%}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
{%endblock%}
{% block stylesheets %}
<link href="../estilos/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="../estilos/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
<link href="../estilos/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
<link href="../estilos/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
<link href="../estilos/bootstrap.min2.css" rel="stylesheet" type="text/css" media="all"/>
<link href="../font/css/font-awesome.css" rel="stylesheet" type="text/css" media="all"/>
<link href="../font/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script> 
<script src="js/jquery.openCarousel.js" type="text/javascript"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
<link href="css/easy-responsive-tabs.css" rel="stylesheet" type="text/css" media="all"/>



 <script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
   </script>		
<link rel="stylesheet" href="css/etalage.css">
<script src="js/jquery.etalage.min.js"></script>
<script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 300,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					
				});

			});
		</script>
	  <script src="js/star-rating.js" type="text/javascript"></script>
{% endblock %}

<script language="JavaScript">
function pregunta(){ 
    
    if (confirm('Estas seguro que desea eliminar el comentario?'))
    { 
       return true;
    } 
    else
    { 
    	return false;
    }

} 
</script>

<script language="JavaScript">
function pregunta2(){ 
    
    if (confirm('Estas seguro que desea eliminar la respuesta?'))
    { 
       return true;
    } 
    else
    { 
    	return false;
    }

} 
</script>

<script language="JavaScript"> 
function pregunta3(){ 
    
    if (confirm('Desea concluir su oferta?'))
    { 
       return true;
    } 
    else
    { 
    	return false;
    }

} 
</script>
	  </head>
<body>

	<div class="header">
	 {% block header%}
  	  		<div class="wrap">
				<div class="header_top">
					<div class="logo">
						<a href="../index.php"><img src="../imagenes/logo.jpg" alt="{{Bestnid}}" /></a>
						<img src="../imagenes/slider-img.png" alt="{{Bestnid}}" />
						<img src="../imagenes/logo2.jpg" alt="{{Bestnid}}" />
					</div>
					
		
					
			     <div class="clear"></div>
  		    </div>     
  		    <div class="navigation">
  		    	<a class="toggleMenu" href="#">{{Menu}}</a>
					<ul class="nav">
						<li>
						<a href="../templates/index.php">{{Home}}<span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>	
						</li>
						
						
						
						
						
						{% if IniciarSesion is not null %}		
						<li>
							<a href="../sesion/inicioSesion.php">{{IniciarSesion}}<span class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
						</li>
						{% endif %}
						
						{% if Registrarse is not null %}		
						<li>
							<a href="../registro/Registro.php">{{Registrarse}}<span class="glyphicon glyphicon-align-left"></span></a>
						</li>
						{% endif %}
						
						
					
						
						
						
							
						
						
						
						
						
						
						
						
						
						{% if CerrarSesion is not null %}
						<li>
							<a href="../sesion/CerrarSesion.php">{{CerrarSesion}}<span class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
						</li>
						{% endif %}
						
						<li>
							<a href="../ayuda/Ayuda.php">{{Ayuda}}<span class="glyphicon glyphicon-text-color" aria-hidden="true"></span></a>
						</li>
						
						<li>
							<a href="../mail/altamail.php">{{Contacto}}<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
						</li>
						
						
						{% if (nombre is not null) and (apellido is not null) %}		
						<li>
							
							{% if tipo==1 %}
							<a href="../sesion/controlBackEnd.php">{{bienvenido}}{{nombre}} {{apellido}}<span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
							{% else %}
							<a href="../sesion/controlFrontEnd.php">{{bienvenido}}{{nombre}} {{apellido}}<span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
							{% endif %}
						</li>
						{% endif %}
						
					</ul>
					
  		    </div>

   		</div>
		{%endblock%}
   </div>
   <!------------Cabezera------------>
   <div class="main">
    {% block main%}
   	 <div class="wrap">
	 {% block menu%}
	 
   	 	<div class="preview-page">
   	 	       <div class="section group">
   	 	       	 {% if informarmod is not null %}
			   <div class="alert alert-info"><span class="glyphicon glyphicon" aria-hidden="true"></span>
					
					{{informarmod}}
					
					
					</div>
					{% endif %}

   	 	       	
			      {% if comentarioagregado is not null %}
			      <div class="alert alert-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Se Agrego su comentario a Bestnid, si desea ver su comentario vaya a la solapa comentarios dentro de esta misma página
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
					
					</div>



			      {% endif %}

			      {% if comentariomodificado is not null %}
			      <div class="alert alert-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Se modifico su comentario correctamente
					
					
					</div>



			      {% endif %}

			      {% if comentarioeliminado is not null %}
			      <div class="alert alert-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Se elimino el comentario correctamente
					
					
					</div>



			      {% endif %}


			      {% if agreguerespuesta is not null %}
			      <div class="alert alert-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Se agrego la respuesta correctamente
					
					
					</div>



			      {% endif %}

			      {% if eliminerespuesta is not null %}
			      <div class="alert alert-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Se elimino la respuesta correctamente
					
					
					</div>



			      {% endif %}

			         {% if modifiquerespuesta is not null %}
			      <div class="alert alert-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Se modifico la respuesta correctamente
					
					
					</div>



			      {% endif %}
			    
				<div class="cont-desc span_1_of_2">
					<div class="panel-heading2">Ver Subasta: {{subastas.getTitulo()}}</div><br>
				  <div class="product-details">	
					<div class="grid images_3_of_2">
							<ul id="etalage">
							
							{% for foto in fotos %}
							
							<li>
								<a href="#">
								
									<img class="etalage_thumb_image" src="../{{foto.getFoto()}}" />
									<img class="etalage_source_image" src="../{{foto.getFoto()}}" title="" />
										
								</a>
								</li>
							{% endfor %}
							
							
						</ul>
				     </div>
					 <div class="desc span_3_of_2">
					<h2>{{subastas.getTitulo()}}</h2>
					
					<div class="available">
						<ul>
						   <li><span>Descripcion:</span>{{subastas.getDescripcion()}}</li>
						   <li><span>Categoria:</span>{{subastas.recuperarCategoriaSubasta(subastas.getIdCategoriaSub())}}</li>
						  <li><span>Fecha Inicio:</span>{{subastas.getFechaInicio()}}</li>
						  <li><span>Fecha Fin:</span>{{subastas.getFechaFin()}}</li>
						  <li><span>Usuario:</span>{{subastas.recuperarUsuarioSubasta(subastas.getIdUsuarioSub())}}</li>
					    </ul>
					</div>
					
			{% if aceptada is null %}		
					
					{% if (nombre is not null) and (apellido is not null) %}
							
							{% if (subastas.getIdUsuarioSub!=idusuario) %}
							
							        {% if (subastas.controlarOfertaParaUsuario(subastas.getIdSubasta(),idusuario))==0 %}
							        {% if tipo!=1 %}
												<form onsubmit="return pregunta3()" method="POST" name="form1" action="../oferta/altaoferta.php" >
												<hr>
					                            Ofertar por el producto
				                                <div class="share-desc">
				
					                            <div class="share">
												
						                        <p>Monto :</p><input type="number" class="text_box" type="text" id="numero" name="numero" value="1" min="1" required/>	
                          					
					                             </div>
					                             <div class="button" class="btn btn-danger" >
												
												<input name="idsubasta" id="idsubasta" type="hidden" value="{{subastas.getIdSubasta()}}" />
												  <input name="idusuario" id="idusuario" type="hidden" value="{{idusuario}}" />
												  
												 </div>	

					                             <div class="clear"></div>
					                              Razon: <textarea name="razon" id="razon" rows="4" cols="60" maxlength="250" minlength="2" title="Ingrese minimo 2 caracteres"required/></textarea> 
												  <input type=submit  class="btn btn-danger" value="Enviar" title="Click para enviar su oferta" />
				                                  </div>
												  </form>
				                                    <hr>
				                        {% else %}
												<div class="alert alert-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					                            No se permiten ofertas de los administradores del sitio!
				                            	</div>             
				                      {% endif %}              
									 {% else %}
												<div class="alert alert-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					                             Usted ya realizó una oferta para esta subasta!!!.
				                            	</div>
									 {% endif %}
							{% else %}
									<div class="alert alert-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					                           Usted es el propietario de la subasta no se le permite ofertar en la misma!!!.
				                     </div>
									
									
							
							{% endif %}
							
							
					      
					
				   	 
				    {% else %}
					<div class="alert alert-success"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							Para poder ofertar por el producto por favor <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> <a href="../sesion/InicioSesion.php">Inicie Sesión</a>
							o si no posee un usuario <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> <a href="../registro/Registro.php">Regístrese dentro de bestnid</a> 
				 </div>
				
				   {% endif %}
	 {% else %}   
					<div class="alert alert-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Se Agrego su oferta a Bestnid
				
					</div>   
				   
	 {% endif %}	   
				   
				   
				   
				   
				   
				   
		<div class="product_desc">	
			<div id="horizontalTab">
				<ul class="resp-tabs-list">
					<li>Comentarios</li>
					<li>Agregar un nuevo comentario</li>
					
					<div class="clear"></div>
				</ul>
				<div class="resp-tabs-container">
					<div class="product-specifications">
						<ul>
							{% if comentarios is not null%}
							{% for comentario in comentarios %}
		                  <div class="comentarios" >{{comentario.getCuerpo()}}

		                  <div class="fecha">Fecha:{{comentario.getFechaCom()}} </div>
		                  			<!-- Usuario del comentario
		                  			 Usuario:{{comentario.recuperarUsuarioComentario(comentario.getIdUsuarioCom())}} -->
		                  			 
		                  		{% set ar = comentario.recuperarRespuestaParaComentario(comentario.getIdComentario()) %}
		                  		{% if ar is not null %}
		                  		<div class="respuesta">{{ ar[0].getCuerpo() }} <div class="fecha">Fecha:{{ ar[0].getFechaRespuesta() }}</div></div>
		                  		{% endif %}
		                  		{% if comentario.getIdUsuarioCom()==idusuario %}
		                  		  			<form  onsubmit="return pregunta()" action="../comentario/eliminarcomentario.php" method="post"> 
				       <input type="hidden" name="idcomentario2" id="idcomentario2" value="{{comentario.getIdComentario()}}" >
						<input type="hidden" name="idsubasta" id="idsubasta" value="{{comentario.getIdSubastaCom()}}" >
						<div class="linea">Si lo que desea es eliminar su comentario aprete aqui<input type="submit" class="btn btn-danger" value="Eliminar">
						
                        </form>

                        	Para modificar un comentario ingrese el contenido aqui abajo</div>
		                 <form  method="POST"  action="../comentario/modificarcomentario.php" > 
				        <textarea name="comentario" id="comentario" class="form-control" rows="3" cols="60" maxlength="250" minlength="2" title="Ingrese minimo 2 caracteres" required/></textarea> 
						<input type="hidden" name="idcomentario" id="idcomentario" value="{{comentario.getIdComentario()}}" >
						<input type="hidden" name="idsubasta" id="idsubasta" value="{{comentario.getIdSubastaCom()}}" >
						<input type="submit" class="btn btn-primary" value="Modificar">
                        </form>    



		                  		{% endif %}


		                 {% if tipo!=1 %} 		
		                 {% if subastas.getIdUsuarioSub()==idusuario %}
		                  	{% if ar is null %}
		                  			
						<div class="linea">



                        	Para responder este comentario ingrese el contenido aqui abajo</div>
		                 <form  method="POST"  action="../comentario/agregarrespuesta.php" > 
				        <textarea name="respuesta" id="respuesta" class="form-control" rows="3" cols="60" maxlength="250" minlength="2" title="Ingrese minimo 2 caracteres" required/></textarea> 

						<input type="hidden" name="idcomentario" id="idcomentario" value="{{comentario.getIdComentario()}}" >
						<input type="hidden" name="idsubasta" id="idsubasta" value="{{comentario.getIdSubastaCom()}}" >
						<input type="submit" class="btn btn-primary" value="Responder">
                        </form>
                        {% else %}
                            			<hr>


		                  			<form  onsubmit="return pregunta2()" action="../comentario/eliminarrespuesta.php" method="post"> 
		                <input type="hidden" name="idrespuesta2" id="idrespuesta2" value="{{ar[0].getIdRespuesta()}}" >
				       <input type="hidden" name="idcomentario2" id="idcomentario2" value="{{comentario.getIdComentario()}}" >
						<input type="hidden" name="idsubasta" id="idsubasta" value="{{comentario.getIdSubastaCom()}}" >
						<div class="linea">Si lo que desea es eliminar su Respuesta aprete aqui<input type="submit" class="btn btn-danger" value="Eliminar"><br>
						
                        </form>



                        	Para modificar su Respuesta ingrese el contenido aqui abajo</div>
		                 <form  method="POST"  action="../comentario/modificarrespuesta.php" > 
				     
		                 	<textarea name="cuerpo" id="cuerpo" rows="4" cols="50" required/></textarea>
					
				    <input type="hidden" name="idrespuesta" id="idrespuesta" value="{{ar[0].getIdRespuesta()}}" >
						<input type="hidden" name="idsubasta" id="idsubasta" value="{{comentario.getIdSubastaCom()}}" >
						<input type="submit" class="btn btn-primary" value="Modificar">
                        </form>  



                        {% endif %}  

		                  {% endif %}
		            {% else %}
		            		{% if tipo==1 %}
		            		  			<form  onsubmit="return pregunta()" action="../comentario/eliminarcomentario.php" method="post"> 
				       <input type="hidden" name="idcomentario2" id="idcomentario2" value="{{comentario.getIdComentario()}}" >
						<input type="hidden" name="idsubasta" id="idsubasta" value="{{comentario.getIdSubastaCom()}}" >
						 <input type="submit" class="btn btn-danger" value="Eliminar Comentario">
						
                        </form>
                        	{% if ar[0] is not null %}
                          			<form  onsubmit="return pregunta2()" action="../comentario/eliminarrespuesta.php" method="post"> 
		                <input type="hidden" name="idrespuesta2" id="idrespuesta2" value="{{ar[0].getIdRespuesta()}}" >
				       <input type="hidden" name="idcomentario2" id="idcomentario2" value="{{comentario.getIdComentario()}}" >
						<input type="hidden" name="idsubasta" id="idsubasta" value="{{comentario.getIdSubastaCom()}}" >
						<input type="submit" class="btn btn-primary" value="Eliminar Sólo la Respuesta"><br>
						
                        </form>
                        	{% endif %}

		            		{% endif %}

		            {% endif %}


		                  </div>
		                  	{% endfor %}
		                  	{% else %}

		                  		<div class="alert alert-info">
							Lamentablemente la Subasta no posee ningún comentario.
							Sea el primero en comentar , y deje su opinión en la solapa de agregar un nuevo comentario
							<span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>.
				 </div>

		                  	{% endif %}
		                </ul>
				 	</div>
				 
				   <div class="product-tags">

{% if (nombre is not null) and (apellido is not null) %}
							
							 {% if subastas.getIdUsuarioSub()!=idusuario %}		 
					<h4>Agrega tu comentario:</h4>
					<form method="POST" name="form1" action="../comentario/agregarcomentario.php">
					<div class="input-box">
						<input type="text" name="cuerpocomentario" id="cuerpo" value="" minlength="2" required/>
						<input type="hidden" name="idusuariocomentario" id="idusuario" value="{{idusuario}}" >
						<input type="hidden" name="idsubastacomentario" id="idsubasta" value="{{subastas.getIdSubasta()}}" >
					</div>
					<br>
					 <input type=submit class="btn btn-success" value="Agregar"> 
					</form>
				   	  {% else %}
				   	      <div class="alert alert-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							No podes comentar en tu propia subasta
				         </div>
				   	   {% endif %}
				    {% else %}
					<div class="alert alert-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							Para poder comentar el producto por favor <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="../sesion/inicioSesion.php"> Inicie Sesión</a>
							o si no posee un usuario <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> <a href="../registro/Registro.php"> Regístrese dentro de bestnid </a>
				 </div>
				
				
{% endif %}


				







			    </div>	
 
						
				  	   {%endblock%}
      </div>
	  {%endblock%}
    </div>	
	</div>
	
	</div>
	
	</div></div>
	 <div class="rightsidebar span_3_of_1 sidebar">
				<div class="panel-heading"> Otras subastas</div>
					<ul class="popular-products">

						{% for subasta in subastasrandom %}
    

							<li>
							<strong><h4>{{subasta.getTitulo()}}</h4></strong>
								<a href="../web/preview.php?id={{subasta.getIdSubasta()}}" title="{{subasta.getTitulo()}}"><img src="../{{subasta.recuperarFoto(subasta.getIdSubasta())}}" alt="" /></a>
								  <div class="price-details">
								  <div class="categoria"><strong>Categoria:{{subasta.recuperarCategoriaSubasta(subasta.getIdCategoriaSub())}}</strong></div>
								  <div class="inicio"><strong>inicio el día: {{subasta.getFechaInicio()}}</strong></div>
								  <div class="vencimiento"><strong>Vence el día: {{subasta.getFechaFin()}}</strong></div>
					       		          <div class="descripcion">	
													<strong>{{subasta.getDescripcion()}}</strong></div>
													<div class="add-cart">
									      <h4><a href="../subasta/verdetalle.php?id={{subasta.getIdSubasta()}}" title="Haga click para ver la subasta mas detalladamente y/o hacer un ofertar">Ver Subasta</a><h4>
							                 </div>
							             <div class="clear"></div>
												 
						</li>
				    {% endfor %}
				     </ul>
				    
      				  
					</div>
	
	
	</div>
	
	</div></div>
	</div>
	
   <div class="footer">
   {% block footer%}
   	  <div class="wrap">	
			 <div class="copy_right">
				<p>Bestnid © Todos los derechos reservados </p>
		   </div>	
		   <div class="footer-nav">
		   	<ul>
		   		<li><a href="#">Terminos de uso</a> : </li>
		   		<li><a href="#">Privacidad</a> : </li>
		   		
		   	</ul>
		   </div>		
        </div>
	{%endblock%}
    </div>
	{% block final%}
    <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop"> </a>
    <script type="text/javascript" src="javascript/navigation.js"></script>
	{%endblock%}
	
</body>
</html>